.*.swp
*~

package-lock.json

venv/
.idea/

*.egg-info
*.pot
*.py[cod]
*$py.class
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage*
build/
tests/report/
tmp/

migrations/

/var/
/db.sqlite3
/.idea
/staticfiles/
/search/

cypress/screenshots
cypress/videos

portman/api_v1_collection.postman.json
